
    <form action="" class="" #formCar="ngForm">
      <div class="fs-3 fw-semibold ms-3 mt-1">Cadastro de Carros:</div>
        <!----------------------->
        <div class="form-group row mt-1">
          <label class="col-3 form-label ms-5">Nome:</label>
          <div class="col-8"><!---->
            <input type="text" class="form-control" name="nome" [(ngModel)]="cars.name" required>
          </div>
        </div>
        <!----------------------------->
      <div class="form-group row mt-1">
        <label class="col-3 form-label ms-5">Montadora:</label>
        <div class="col-8">
          <input type="text" class="form-control" name="montadora" [(ngModel)]="cars.manufacture" required>
        </div>
      </div>
        <!------------------------------->
        <div class="form-group row mt-1">
          <label class="col-3 form-label ms-5">Preço:</label>
          <div class="col-3">
            <input type="text" class="form-control" name="preço"  [(ngModel)]="cars.price" required>
          </div>
          <label class="col-1 form-label ms-0 ">Ano:</label>
          <div class="col-4">
            <input type="text" class="form-control" name="ano" [(ngModel)]="cars.year" required>
          </div>
        </div>
        <!------------------------------->
        <div class="row mt-1">
          <button  class="btn btn-primary col-1 ms-5" (click)="save()"  [disabled]="formCar.invalid">Salvar</button>
        </div>

    </form>


    <!--Este é um formulário de cadastro de carros em HTML,
       com o uso do Angular framework para a vinculação de dados (data binding).
       O formulário é composto de quatro campos para preencher: Nome, Montadora, Preço e Ano.
       Cada campo é um input do tipo texto e requerido (required).
       A diretiva [(ngModel)] * bananaBox * é usada para vincular e sincronizar os dados do modelo com a visão (view) do componente.
       O botão "Salvar" no final do formulário é desabilitado (atributo [disabled]) quando o formulário é inválido (atributo [invalid]) através da diretiva [disabled].
       Quando este botão é clicado, ele dispara o evento do método "save()" da classe do componente associado a este template.-->

